/* Style for index.php */
.form_container {
    max-width: 600px;
    min-width: 400px;
    height: 300px;
}
.form-group {
    width: 200px;
    position: relative;
}

.nav-tabs > li {
    width: 199px;
    text-align: center;
}